ipykernel==7.2.0
jupyter==1.1.1
jupyter-client==8.8.0
jupyter-console==6.6.3
jupyter-core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter-server==2.17.0
jupyter-server-terminals==0.5.4
jupyterlab==4.5.6
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.0
jupyterlab-widgets==3.0.16
matplotlib==3.10.8
matplotlib-inline==0.2.1
numpy==2.2.6
pandas==2.3.3
pickleshare==0.7.5
scikit-learn==1.7.2
scipy==1.15.3
numpy==2.2.6